.section{
    height: 100vh;
    width: 80px;
    background-color: #f5f5f5;
    position: fixed;
    transition: all ease 0.5s;
    overflow: hidden;
    box-shadow: -2px 4px 3px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.section:hover{
    width: 200px;
}

.logo{
    top: 0;
    margin-bottom: 12rem;
    position: relative;
}

.icons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8rem;
    padding-left: 1.8rem;
    margin-top: -4rem;
}



.icons2{
    display: flex;
    justify-content: flex-start;
    font-weight: 5rem;
    color: #4B31A1;
    padding-block: 1rem;
    gap: 1.5rem;
    position: relative;
    transition: all ease 0.5s; 
    align-items: center;
}

.link{
    text-decoration: none;
    position: relative;
}

.icons2:hover{
    transform: scale(1.1);
}

.icons1:hover{
    transform: scale(1.1);
}

.icons1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 5rem;
    color: #4B31A1;
    gap: 1.5rem;
    position: relative;
    transition: all ease 0.5s; 
    margin-top: -20px;
}

.logoutIcono{
    color: rgb(41, 41, 41);
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin-left: -5px;
}

.salirH4{
    margin-top: 22px;
    color: rgb(41, 41, 41);
}