.section{
    background-color: whitesmoke;
/*     color: #324844; */
    padding-inline: 10rem;
    height: 100vh;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block: 6rem;
}

.img{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.svg1{
    position: absolute;
    top: 0;
    left: 0;
}

.svg2{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
    
}

.art{
    display: flex;
    flex-direction: column;
    height: 4rem;
}

.art input{
    background-color: whitesmoke;
    border: none;
    border-bottom: #00c9a7 3px solid;
    max-width: 10rem;
}

.art label {
    position: absolute;
    padding-left: 10px;
    transition: 0.5s;
}

.art input:valid + label,
.art input:focus + label {
  color: #00c9a7;
  transform: translateY(-15px);
  font-size: 15px;
  background-color: whitesmoke;
}



.art input[type=file]{
    cursor: pointer;
}

.error{
    font-size: 12px
}


.art1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.art1 select{
    cursor: pointer;
}

.div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}