.section{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.img{
    border-radius: 50%;
    height: 12rem;
    width: 15rem;
}

.svg1{
    position: absolute;
    top: 0;
    left: 0;
}

.svg2{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
    
}

.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
    height: 80px;
  }

  .coolinput select{
    padding: 11px 10px;
    font-size: 0.90rem;
    border: 2px #429283 solid;
    border-radius: 5px;
    background: whitesmoke;
    width:5rem;
  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: #429283;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: whitesmoke;
    width: fit-content;
    z-index: 0;
  }
  
  .coolinput input {
    padding: 11px 10px;
    font-size: 0.90rem;
    border: 2px #429283 solid;
    border-radius: 5px;
    background: whitesmoke;
    width: 250px;
  }
  
  .coolinput input[type=number]{
    padding: 11px 10px;
    font-size: 0.90rem;
    border: 2px #429283 solid;
    border-radius: 5px;
    background: whitesmoke;
    width:5rem;
  }
  

  .coolinput textArea {
    padding: 11px 10px;
    font-size: 0.90rem;
    border: 2px #429283 solid;
    border-radius: 5px;
    background: whitesmoke;
    width: 250px;
    height: 150px;
  }
.error{
    font-size: 12px;
    color: #990004;
}


.art1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.art1 select{
    cursor: pointer;
}

.div{
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select{
    margin-top: 1rem;
}

.btn{
    margin-top: 4rem;
}

.select{
    width:16rem;
    border: #429283;
}

.char{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.chart{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
