
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: whitesmoke;
}

.image{
    position: absolute;
    top: -80;
}

.image img{
    border-radius: 50%;
    height: 220;
    width: 220;
}
 
.info{
    margin-top: 12rem;
    border-radius: 30px;
    background-color: #00C9A7;
    padding-top: 6.2rem;
    width: 22rem;
    text-align: center;
}

.info h3{
    font-size: 1.8rem;
}

.plan{
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-stretch: 1.5rem;
}