.container {
    display: grid;
    grid-template-rows: 10% 90%; 
    background-color: var(--color-fondo);
}
.headSection {
    background-color: blue;
    height: 10vh;
}
.bodySection {
    background-color: red;
    height: 90vh;
    display: grid;
    grid-template-columns: 40% 40% 20%; 
}
.bodyLeft {
    background-color: white;
}
