.container {
  display: grid;
  grid-template-rows: 15% 35% 5% 45%;
}
.topSection {
    background-color: red;
    height: 15vh;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-items: center;
    align-items: center; 
}
.topSection h3 {
    text-align: center;
}
.middleSection {
    background-color: blue;
    height: 35vh; 
}
.text {
    background-color: green;
    height: 5vh;
}
.bottomSection {
    background-color: yellow;
    height: 45vh;
}
.logo {
    margin-left: 150px;
}