.container {
  display: grid;
  grid-template-rows: 6% 28.5% 7% 5% 35% 10%;
  background-color: var(--color-fondo);
}
.topSection {
  height: 10vh;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: center;
  align-items: center;
}
.topSection h3 {
  text-align: center;
}
.logo {
  margin-left: 150px;
}
.head {
  min-width: 600px;
  margin-right: 150px;
}
.head hr{
  color: var(--color-primario);
  width: 100vh;
  margin: auto;
  border-top: 4px solid;
  margin-right: 30px;
}
.middleSection {
  height: 35vh;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.intro {
  display: grid;
  grid-template-rows: 10% 15% 80%;
  width: 900px;
  height: 270px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  text-align:justify;
  padding: 20px 40px 40px 40px;
}
.intro h4 {
    text-align: center;
    margin-bottom: 20px; 
}


.text {
  height: 8vh;
  grid-template-rows: 50% 50%;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.text h1 {
    font-size: 35px;
    letter-spacing: 5px;
    margin-top: 15px;
}
.text hr {
  color: var(--color-primario);
  width: 40vh;
  margin: auto;
  border-top: 4px solid;
}
.titles {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  height: 5vh;
  margin-left: 20px;
  font-size: 30px;
  letter-spacing: 5px;
}

.bottomSection {
  height: 42vh;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}
.text_margin{
    margin-left: 40px;
}
.card {
  width: 300px;
  height: 370px;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 0px 20px 20px 20px;
  padding: 15px;
  text-align: justify;
  border: 3px solid var(--color-primario);
  display: grid;
  grid-template-rows: 30% 38% 25% 7%;
  justify-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card h1 {
  margin-top: 20px;
}

/* Estilo para resaltar la card seleccionada */
.selected {
  border-color: #007bff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  &:hover{
    border-color: 1px solid var(--color-success);
  }
}

.selectedh4{
  color: var(--color-success);
  font-size: 28px;
  border-bottom: 3px solid var(--color-success);
  
}

.gratis {
  color: var(--color-success);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.precios {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 20px;

}

.antes {
  color: var(--color-error);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.ahora {
  color: var(--color-success);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.card button {
  font-size: 20px;
  letter-spacing: 3px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.bottom button {
  height: 35px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 3px;
  background-color: var(--color-success);
  &:hover{
    color: var(--color-success);
    background-color: white;
    border: 1px solid var(--color-success);
  }
}