.containerG {
  background-color: rgb(255, 255, 255);
}

.secciones{
  display: grid;
  grid-template-columns: 4% 70% 30%;
}

.grid {
  margin: 0 auto;
  margin-left: 30px;
  /*display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: flex-start;*/
}

.cards {
  margin: 20px;
  float: left;
}

.searchFil {
  margin-top: 20px;
  margin-bottom: 20px;
}

.detailCard{
  margin: 0 auto;
  margin-top: -50px;
  margin-right: 30px;
  margin-left: -40px;
  /*position: fixed;*/
}

.navLateral{
  margin-top: -72px;
}