.containerG {
  background-color: whitesmoke;
  margin-top: -20px;
  height: 100vh;
}
.containerMensaje{
  display: flex;
  justify-content: center;
  align-items: center;
}

.secciones{
  display: grid;
  grid-template-columns: 4% 70% 30%;
}
.secciones h2{
  text-align: center;
  margin-top: 10px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-rows: 10% 30% 30% 30%;
  margin: 0 auto;
  margin-left: 20px;
}
.grid hr {
  color: var(--color-primario);
  width: 110vh;
  border-top: 4px solid;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-inline: 4rem;
  align-items: center;
  float: left;
  gap: 2rem;
  list-style: none;
}

.cards li{
  transition: 0.5s;
  cursor: pointer;
}

.cards li:hover{
  transform: scale(1.02);
}

.searchFil {
  margin-block: 20px;
  padding-block: 10px;
}

.detailCard{
  margin: 0 auto;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: -40px;
  width: 200px;
  /*position: fixed;*/
}


.navLateral{
  margin-top: -4.4rem;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-top: 5px;
}

.pagination li{
  cursor: pointer;
  transition: 0.4s;
}

.pagination li:hover{
  color: #4B31A1;
  transform: scale(1.1);
}
.pagination p {
  margin-right: 600px;
}

.active{
  color: #4B31A1;
  transform: scale(1.1);
}

.detail{
  width: 100px;
}


.input_comentario {
  width: 25vw;
  height: 10vw;
  text-align: start;
}

/* IMPLEMENTACION DE MODAL */
.containerModalOpened {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modalOpened {
  width: 30%;
  height: 60%;
  background-color: whitesmoke;
  border-radius: 20px;    
  display: grid;
  grid-template-rows: 40% 30% 10% 10%;
  align-items: center;
  text-align: center; 
  position: relative;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.599);
  &:hover {
      border: 1px solid blue;
  }
  transition: transform 1s;
  transform: translateY(0%);
}

/* Modal Closed */

.containerModalClosed {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalClosed {
    width: 40%;
    height: 52%;
    background-image: linear-gradient(to bottom right, red, yellow);
    border-radius: 10px;    
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border: 3px solid black;
    &:hover {
        box-shadow: 0 0 10px black;
    }
    transition: transform 1s;
    transform: translateY(-200%);
}

/* Others */

.delete {
  position: absolute;
  width: 3vh;
  top: 1px;
  right: 15px;
  border-radius: 3px;
  background-color: red;
  color: white;
  box-shadow: 0 3px 3px black;
  &:hover {
      color: red;
      background-color: white;
      box-shadow: 0 3px 3px red;
  }
}