.containerG {
  background-color: rgb(255, 255, 255);
}

.grid {
  margin: 0 auto;
  width: 100%;
  margin-left: 30px;
  /*display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: flex-start;*/
}

.cards {
  margin: 20px;
  float: left;
}

.searchFil {
  margin-top: 30px;
  margin-bottom: 20px;
}
