.containerGralTalent {
  background-color: rgb(255, 255, 255);
}

.secciones{
  display: grid;
  grid-template-columns: 9% 30% 50%;
}

.searchFil {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navLateral{
  margin-top: -72px;
}

.brLinea{
  border: 3px solid #00C9A7;
}

.cardJobsStyle{
  margin-bottom: 40px;
  margin-right: 20px;
  margin-top: 20px;
}

.detailStyle{
  margin-left: 20px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  gap: 2rem;
  margin-top: 100px;
}

.pagination li{
  cursor: pointer;
  transition: 0.4s;
}

.pagination li:hover{
  color: #4B31A1;
  transform: scale(1.1);
}

.active{
  color: #4B31A1;
  transform: scale(1.1);
}