* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo{
  background-color: rgb(255, 255, 255);
}

.containerGeneral {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

/*carta con foto y descripcion*/
.cardContainer {
  background-image: linear-gradient(
    to bottom,
    #d1d1d1,
    #c3cbdd,
    #a5cae6,
    #76cbe5,
    #3bccd5,
    #1dc9c7,
    #00c6b5,
    #00c2a2,
    #00bd9e,
    #00b89a,
    #00b496,
    #00af92
  );
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}
.update {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding-bottom: 10px;
  
}
.update h5{
  color: white;
  /* border-bottom: solid  gray; */
}

.image img{
  background-color: #a3a3a3;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /*margin-top: 20px;*/
  margin-bottom: 50px;
  margin-top: 50px;
}

.textoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
/* .nombre {
  margin-bottom: 30px;
}

/*carta de orientacion*/
.orientacionCard {
  /* background-color: red; */
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}

.orientacionTexto {
  /* margin-top: 10px; */
  margin-bottom: 20px;
  font-weight: 700;
}
.habilityEmpty {
  padding-top: 30px;
}

/* .habilidades {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}


.habilidad {
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  padding: 7px;
  background-color: #00c9a7;
  border-radius: 30px;
  color: whitesmoke;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    
}

.habilidad h4 {
  color: whitesmoke;
}
 */

/*carta de orientacion*/
.habilidades {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-around;
  align-items: center;
  height: 9vh;
  /* align-content: center;  */
}

.habilidad span {
  width: 10vh;
  margin: 10px 5px 0px 10px;
  cursor:inherit;
  background-color: #00c9a729;
  border-radius: 30px;
  padding: 10px;
}

.habilidad span:active {
    background-color: #edeff200;
}

.habilidad span:hover {
  text-decoration: none;
  background-color: #00c9a729
}


.habilidad h4 {
  color: whitesmoke;
  font-size: medium;
  margin-top: 4px;
}


/* carta de reviews */
.reviews {
  background-color: #00c9a7;
  width: 500px;
  height: 378px;
  max-height: 600px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 20% 15% 65%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}

.reviews h3 {
  margin-bottom: 20px;
  font-weight: 700;
}

/*carta de datos*/
.proyectosCard {
  width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  padding-left: 30px;
}

.textoProyectos h3 {
  /*margin-top: -160px;*/
  margin-left: 210px;
  font-weight: 700;
  margin-bottom: 30px;
}

.dato {
  background-color: #7e7193;
  border-color: 3px rgb(72, 72, 72);
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 20px;
  text-align: start;
  padding-left: 15px;
  padding-top: 5px;
  color: whitesmoke;
  font-size:larger;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.datoTitle{
  margin-left: 20px;
  margin-top: 20px;
  font-size:large;
  font-weight: 700;
  color:  hsl(170, 100%, 35%);
}
.value {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 0px;
  margin-top: 0px;
  font-size:large;
  color: white;
}
.textoProyectos p {
  /*margin-top: -200px;*/
  font-weight: 700;
  color: whitesmoke;
}

.pe {
  margin-left: 30px;
  font-weight: 700;
  font-size: large;
  color: #00927a;
}

/*carta de trabajos postulados*/
.trabajosPostulados {
  width: 600px;
  height: 400px;
  background-color: #7e7193;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 20px;
  margin:  0px 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  padding-left: 30px;
}

.tituloTrabajos {
  /*margin-top: -200px;*/
  font-weight: 700;
  color: whitesmoke;
  margin-left: 170px;
  padding-bottom: 20px;
}

.textoTrab {
  background-color: #00b496;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 20px;
  color: whitesmoke;
  font-size:larger;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.spanTitle{
  margin-left: 20px;
  margin-top: 20px;
  font-size:large;
  font-weight: 700;
  color: rgb(72, 72, 72);
}
.spanValue{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 0px;
  margin-top: 0px;
  font-size:large;

}

/*carta de contacto*/
.cardContactos {
  width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  padding-left: 30px;
}

.valueContact {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  margin-left: 0px;
  margin-top: 0px;
  color: rgb(91, 90, 90);
}

.contactos {
  margin-bottom: 30px;
}
.contactos h2 {
  font-weight: 700;
  margin-left: 190px;
}

.svgIcono {
  margin-right: 30px;
}

.svgIconoInst {
  margin-right: 21px;
}

.datosSvg{
  font-size:x-large;
}

/*.navLateral{
  
}*/