.container {
  margin-top: 6rem;
  height: 32rem;
  width: 30rem;
  /* overflow: scroll; */
  box-shadow: 0px 2px 8px 0px rgba(53, 53, 53, 0.432);
  border-radius: 1rem;
  /* margin-top: 1rem;
    margin-bottom: 1rem;
 */
  padding: 15px;
  margin-left: 2rem;
  background-color: #7e7193;
  overflow: scroll;
  overflow-x: hidden;

  color: #f5f5f5;
}

.text {
  font-size: 30px;
  text-decoration: underline;
}
.head {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.container hr {
  color: var(--color-primario);
  width: 35vh;
  margin: auto;
  border-top: 4px solid;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00c9a7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00c9a7;
}


/* Search */
.divisor{
  display: grid;
  grid-template-columns: auto auto;
}
.searchBarContainer {
  width: 300px;
  background-color: white;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(53, 53, 53, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
  
}

.input {
  width: 90%;
  padding: 10px;
  height: 100%;
  border-radius: 100px;
  border: none;
  outline: none;
}

.searchButton {
  background-color: white;
  height: 100%;
  width: 70px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 100px;
  color: #00c9a7;
  margin-right: 10px;
}

.searchButton:disabled {
  background-color: white;
}

.searchButton:enabled:hover {
  color: white;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*Boton recargar*/
.recargar {
  color: rgb(42, 42, 42);
  background-color: #9d98ad;
  font-weight: 500;
  border-radius: 45px;
  font-size: 0.9rem;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  width: 70px;
  margin-top: 15px;
  margin-bottom: 1px;
  border: none;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 8px 12px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 2px inset;
}

.recargar:hover {
  background-color: #7869a700;
}

.recargar svg {
  display: inline;
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.30rem;
  color: rgb(59, 59, 59);
}

.recargar:focus svg {
  animation: spin_357 0.5s linear;
}
