.card-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 20vw;
  border-radius: 0.7rem;
  height: auto;
  /*margin-top: 2.3vh;*/
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.8em;
  background: rgba(227, 227, 227);
  position: relative;
  overflow: visible;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.52),
    0 1px 4px rgba(0, 0, 0, 0.24);
}

.card-img {
  /* background-color: var(--color-contraste); */
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.card-img img {
  height: 100%;
  width: 60%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 5%;
}

.card-info svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 5%;
}

.text-body {
  font-size: 1em;
  margin: 1px 1px 15px 1px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-10%);
  box-shadow:
    rgba(128, 152, 41, 0.25) 0px 13px 47px -5px,
    rgba(50, 126, 50, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  /* background-color: #ffcaa6; */
}
.talento-label {
  height: 25px;
  width: auto;
  appearance: none;
  background-color: #d1d2d3;
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--color-texto);
  cursor: cursor;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  list-style: none;
  padding: 1px 10px;
  margin: 1px 1px 1px 1px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.talento-label:hover {
  /*background-color: #adb5bd;*/
  text-decoration: none;
  transition-duration: 0.1s;
}

.boton-postulate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.talento-button {
  margin: 0;
  height: 3vh;
  width: 230px;
  /*width: 100%;*/
  margin-top: 2.5px;
}

/* 
   .talento-label:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
   }
   
   .talento-label:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
   }
   
   .talento-label:focus {
    outline: 1px transparent;
   }
   
   .talento-label:before {
    display: none;
   }
   
   .talento-label:-webkit-details-marker {
    display: none;
   } */
