  body {
    margin: 0;
    color: #608080;
  }
  
  .login-talento,
  .login-empresa {
    background-color: var(--color-fondo);
    width: 18vw;
    height: 18vw;
    border-radius: 15px;
    box-shadow: 3px 5px lightgray;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1vw;

  }
  .anuncios,
  .blog, 
  .contacto {
    background-color: var(--color-fondo);
  }
  .anuncios {
    margin-top: 1vw;
    height: 46vH;
    display: inline-flexbox;
    position: relative;

  }
  .contacto p {
    font-size: 5px;
    padding-top: 1vw;
  }
  .contacto b {
    color: var(--color-primario);
  }
  .contacto form {
    background-color: rgb(227,227,227);
    display: inline-block;
    width: 35vw;
    height: 22VW;
    padding-top: 13px;
    border-radius: 15px;
    box-shadow: 3px 2px rgb(128, 128, 128);
  }
  .contacto form input[type="text"]{    
    text-align: lefft;
  }
  .input-comentario {
    width: 30vw;
    height: 5vw;
    text-align: start;
  }

  
  .btn-primary {
    background-color: #429283;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; 
    line-height: 0; 
  }
  
  .btn-primary:hover {
    background-color: #11b6b6;
  }

  .form-control {
    margin: 10px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
    width: 95%;
    box-sizing: border-box;
  }
  
  