.container {
    background-color: whitesmoke;
    height: 100vh;
}

.content{
    padding-left: 6rem;
}

.grid{
    display: grid;
    grid-template-columns: 30% 70%;
}

.gridItem1{
    height: 90vh;
    gap: 20rem;
}

.gridItem2{
    padding-block: 1rem;
    padding-inline: 4.5rem;
}

.gridItem2 div{
    margin-block: 15px;
}