.div{
    height: 100vh;
    background-color: whitesmoke;
}

.section{
    display: grid;
    grid-template-columns: 20% 80%;
    margin-left: 10rem;
    gap: 5rem;
    margin-top: 1rem;
}

.eventos{
    height: 95vh;
    border-radius: 30px;
    box-shadow: 0px 5.986455917358398px 9.977426528930664px 2.993227958679199px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    text-align: justify;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
    width: 90%;
    display: grid;
    grid-template-columns: 1% 98% 1%;

    background-color: rgb(240, 240, 240);

    /*margin-top: -2rem;*/
}

.eventos button{
    width: 30px;
    height: 60px;
    background-color: #00C9A7;
    border: none;
    margin: auto;
}

.eventos h1{
    font-size: 4rem;
    border-bottom: #4b31a1 3px solid;
    margin-left: 2rem;
}

.eventos h2{
    font-size: 3rem;
    border-bottom: #4b31a1 3px solid;
    top: 0;
}

.arrowE{
    width: 30px;
    height: 30px;
}

.shortDescription{
    line-height: 15px;
}

.eventos ul{
    line-height: 8px;
}

.divInterno{
    width: 900px;
    margin: auto;
}

.container{
    margin: 0 auto;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 70%;
    gap: 1rem;
}

.card{
    border-radius:30px;
    background-color: #00C9A7;
    position: relative;
    width: 25rem;
    height: 10rem;
    gap: 1rem;
    padding-top: 6.5rem;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}

.image{
    position: absolute;
    top: -90%;
    right: 0;
    left: 0;
}

.image img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.btnCont{
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnCont button{
    margin-top: 2.5rem;
    font-size: 16px;
    margin-right: 1rem;
}

.btnCont button:hover{
    background-color: white;
    color: #4b31a1;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: 25rem;
    background-color:#00C9A7;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}

.info h3{
    /*text-align: left;*/
    width: 35rem;
}

.info ul{
    color: grey;
    margin: auto;
}

.link {
    color: #324844;
    height: fit-content;
    /*background-color: red;*/
}

.link:hover{
    color: #4b31a1;
}

/*.link li{
    transition: 0.1s;
}

.link li:hover{
    transform: scale(1.0009);
}*/

.info li{
    font-size: 18px;
    padding-block: 5px;
    transition: 0.3s;
    display: flex;
}

.info li:hover{
    color: #4b31a1;
}


.eventList{
    height: 45rem;
    overflow-y: auto;
    list-style: none;
}

.aplication{
    display: flex;
    gap: 10px;
    margin-block: 10px;
    height: 2rem;
    align-items: center;
    color: whitesmoke;
}

.aplication h4:first-of-type{
    /*border-right: #4b31a1 2px solid;*/
    width: 8rem;
    font-size: 20px;
}

.aplication h4{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}


.yourEvents{    
    background-color: #755f98;
    border-radius: 30px;
    /*padding-block: 10px;*/
    overflow-y: auto;
    width: 350px;
    height: 11rem;
    margin: 5px 0 5px 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}

/* .yourEvents h4{
    margin-block: 3rem;     
    padding: 0px;
    color: whitesmoke;
    background-color: #aaa0cc;
    padding: 5px 20px 5px 10px; 
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
} */

.yourEvents h4 {
    width: 50%;
    right: 50px;
    padding-right: -25%;
    height: auto;
    margin: 0px; 
    color: whitesmoke;
    background-color: #aaa0cc;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}

.eventDiv {
  flex: 1;
  transition: opacity 0.3s ease-in-out;
}

.aplication1 h4{
    font-size: 1.2rem;
}

.btnSection{
background-color: aqua;
height: 30px;
}

.title{
    margin-left: 2rem;
}

.infoCard{
    text-align: center;
    /*margin-left: -2rem;*/
}

.link1{
    color: #324844;
    transition: 0.3s;
}

.link1:hover{
    color: #4b31a1;
}

.link8{
    color: #324844;
}

.link8 li{
    font-size: 18px;
    transition: 0.3s;
    background-color: #00c9a71f;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px,
    rgba(0, 0, 0, 0.1) 1px 1px 5px 1px, rgba(1, 0, 0, 0.1) 0px -1px 1px inset;
}

.link8 li:hover{
    background-color: #00c9a781;
}

