.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px rgba(53, 53, 53, 0.432);
    border-radius: 1rem;
    background-color: #00c9a7;
    color: #f5f5f5;
    width: 93%;
}

.chart {
    padding: 2.5rem;
    position: relative;
    width: 30%;
}

.donnutChart {
    padding: 2.5rem;
    position: relative;
    width: 100%;
}

.donnutDiv {
    width: 20%;
}

.dropDown {
    margin-top: 0.7rem;
    background: transparent;
    width: 150px;
    padding: 3px 10px 3px;
    border-radius: 50px;
    border: white 2px solid;
    color: rgba(46, 46, 46, 0.705);
    font-size: 0.7rem;
}

.dropDown:focus {
    outline: none;
}