.container {
    margin: 15px;
    transition: 0.5s;
    height: 30%;
    height:15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}

.selected {
  /* Estilos para las cartas seleccionadas */
  border: 5px solid #015345;
}

.fonts {
    /* background-color: blue; */
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*margin-left: 20px;*/
    /*margin-bottom: 60px;*/
}
.options {
    width: 25vh;
    border-left: 3px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options button {
    width: 120px;
    height: 30px;
    font-size: 15px;
    /*margin-left: 10px;*/
    margin: 10px 0 10px 0 ;
}

.buttonClose {
    background-color: var(--color-error);
    color: white;
    margin-left: 2.5px;
    &:hover {
        background-color: white ;
    color:var(--color-error);
    }
}
.buttonEdit {
    background-color: var(--color-success);
    color: white;
    margin-right: 2.5px;
    &:hover {
        background-color: white ;
    color:var(--color-success);
    }
}

.container:hover {
    box-shadow: 0px 2px 8px 0px rgba(53, 53, 53, 0.432);
    border-radius: 10px;
    background-color: #00c9a7;
    border:  black;
}

.text {
    color: rgba(0, 0, 0, 0.726);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* MODAL PARA EL CASO DE CONTRATAR */
.containerModalOpened {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalConfirmationOpened {
    width: 35%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 20px;    
    display: grid;
    grid-template-rows: 40% 60%;
    align-items: center;
    text-align: center; 
    position: relative;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.599);
    &:hover {
        border: 1px solid blue;
    }
    /* transition: transform 1s; */
    transform: translateY(0%);
  }
  
  
  .head3 {
    height: 10vh;
    text-align: center;
  }
  .modalConfirmationOpened h4 {
    margin-top: 40px;
    color: black
  }
  .head3 span {
    color: var(--color-success)
  }
  .head3 hr {  
  color: var(--color-primario);
  width: 67vh;
  margin: auto;
  border-top: 4px solid;
  margin-top: 10px;
  }
  
  .bottom3 {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 90px;
  }
  .bottom3 button {
    width: 20vh;
    height: 3.4vh;
    font-size: 20px;
  }
  
  .buttonConfirmar {
    background-color: var(--color-success);
    color: white;
    font-size: 20px;
    width: 20vh;
    &:hover{
      border: solid 1px black;
      background-color: white;
      color: var(--color-success);
    }
  }
  .buttonRegresar {
    background-color: var(--color-error);
    color: white;
    margin-top: 20px;
    font-size: 20px;
    width: 20vh;
    &:hover{
      border: solid 1px black;
      background-color: white;
      color: var(--color-error);
    }
  }

  /* Modal Closed */

.containerModalClosed {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalClosed {
  width: 40%;
  height: 52%;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  border: 3px solid black;
  &:hover {
    box-shadow: 0 0 10px black;
  }
  transition: transform 1s;
  transform: translateY(-200%);
}