.containerCardJobs {
  width: 100%;
  border-radius: 20px;
  background-color: rgb(224, 224, 224);
  transition: 0.5s ease-in-out;
  margin-bottom: 30px;
  padding: 20px;
}

.containerCardJobs:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  transform: scale(1.05);
}
