.section{
    background-color: whitesmoke;
/*     color: #324844; */
    padding-inline: 10rem;
    height: 100vh;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block: 1rem;
}

.img{
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.svg1{
    position: absolute;
    top: 0;
    left: 0;
}

.svg2{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
    
}

.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
    height: 100px;
  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: #429283;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: whitesmoke;
    width: fit-content;
    z-index: 0;
  }
  
  .coolinput input {
    padding: 11px 10px;
    font-size: 0.90rem;
    border: 2px #429283 solid;
    border-radius: 5px;
    background: whitesmoke;
    width: 250px;
  }
  
  .coolinput textArea {
    padding: 11px 10px;
    font-size: 0.90rem;
    border: 2px #429283 solid;
    border-radius: 5px;
    background: whitesmoke;
    width: 250px;
    height: 150px;
  }
.error{
    font-size: 12px
}


.art1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.art1 select{
    cursor: pointer;
}

.div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}