.containerDetail {
  /*margin-right: 20px;*/
  position: relative;
  padding: 30px;
  width: 400px;
  height: 90vh;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.2) 10px 20px 30px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
}
 .head {
  display: flex;
  justify-content: center;
  align-items: center;
 }
.textoDetail {
  margin-top: 30px;
}
.navLink{
  text-decoration: none;
  color: #F5F5F5;
}

.acomodarOrientacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orientacionArt {
  margin-top: 40px;
}

/*carta de orientacion*/
.habilidades {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-around;
  align-items: center;
  height: 9vh;
  /* align-content: center;  */
}

.habilidad button {
  width: 10vh;
  margin: 10px 5px 0px 10px;
  cursor:inherit;
  background-color: #00c9a7;
  border-radius: 2px;
}

.habilidad button:active {
    background-color: #edeff200;
}

.habilidad button:hover {
  text-decoration: none;
  background-color: #00c9a7
}


.habilidad h4 {
  color: whitesmoke;
  font-size: medium;
  margin-top: 4px;
}

/*boton conectar y rechazar*/

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}

.conectar {
  /*width: 200px;*/
  width: 130%;
  height: 30px;
  border-radius: 100px;
  font-size: medium;
  margin: 0;
  margin-top: 40px;
  background-color: rgb(55, 201, 19);
}

.conectar:hover {
  text-decoration: none;
  background-color: rgb(55, 201, 19);
  box-shadow: 0 2px 2px black;
}

.conteinerRechazar {
  color: #990004
}
.rechazar {
  /*width: 200px;*/
  width: 130%;
  height: 30px;
  border-radius: 100px;
  font-size: medium;
  margin: 0;
  margin-top: 40px;
  background-color: red
}

.rechazar:hover {
  text-decoration: none;
  background-color: red;
  box-shadow: 0 2px 2px black;
}

