.containerGe{
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 900px;
}

/*Boton recargar*/
.recargar {
  color: rgb(42, 42, 42);
  background-color: #9d98ad;
  font-weight: 500;
  border-radius: 45px;
  font-size: 0.9rem;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  width: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  border: none;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 8px 12px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 2px inset;
}

.recargar:hover {
  background-color: #7869a700;
}

.recargar svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: rgb(59, 59, 59);
}

.recargar:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*selects button*/
.selectFilter{
  width: 8rem;
  height: 30px;
  border: 1px solid #4B31A1;
  padding-inline: 10px;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: whitesmoke;
  font-size: 0.9em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 8px 12px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 2px inset;
}

.selectFilter option{
  padding-inline: 10px;
}

.selectFilter:hover {
  background: #4B31A1;
  color: white;
  font-size: 1em;
}


/*input de buscar*/
.searchI {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.inputTalent {
    height: 30px;
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: 1px solid #4B31A1;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 8px 12px,
    rgba(0, 0, 0, 0.1) 5px 1px 10px 3px, rgba(1, 0, 0, 0.2) 0px -1px 2px inset;

}

.inputTalent:hover, .inputTalent:focus {
  box-shadow: 0 0 1em #00000013;
}

.inputTalent:focus {
  outline: none;
  background-color: #f0eeee;
}

.inputTalent::-webkit-input-placeholder {
  font-weight: 100;
  color: #000000;
}

.inputTalent:focus + .lupaButton {
  background-color: #f0eeee;
}

.lupaButton {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
}

.lupaButton:hover {
  cursor: pointer;
    background-color: #f4f2f2;
}

.lupa {
  height: 1.3em;
  width: 1.3em;
  fill: #6a6a6a;
  margin-bottom: 1px;
}